.cover__link {
  margin-top: 54px;
  padding: 0;
  z-index: 3;
  text-decoration: none;
  align-self: center;
  text-align: center;
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  grid-template-areas:
  "title"
  "subtitle";
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__link {
    margin: 0;
  }
}