.cover__link {
  margin: 0;
  position: relative;
  z-index: 0;
  text-decoration: none; 
}

@media screen and (min-width: 1280px) {
  .cover__link {
    margin-left: 48px;
    margin-right: 48px;
  }
} 