.place__title {
  grid-area: title;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 16px;
  margin-right: 16px;
  align-self: end;
}

@media screen and (min-width: 320px) {
  .place__title {
    grid-area: title;
    font-size: 10vw;
    line-height: 10.94vw;
  }
}

@media screen and (min-width: 768px) {
  .place__title {
    grid-area: title;
    font-size: 9.38vw;
    line-height: 9.90vw;
    margin: 0;
  }
}

@media screen and ( min-width: 1024px) {
  .place__title {
    grid-area: title;
    font-size: 7.03vw;
    line-height: 7.42vw;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .place__title {
    grid-area: title;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
  }
} 