.lead {
  display: flex;
  flex-direction: column;
  color: white;
}
@media screen and (min-width: 320px) {
  .lead {
    margin-top: 56px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
} 
@media screen and (min-width: 768px) {
  .lead {
    margin-top: 56px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
} 
@media screen and ( min-width: 1024px) {
  .lead {
    margin-top: 56px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
} 
@media screen and (min-width: 1280px) {
  .lead {
    margin-top: 56px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
} 