.cover__subtitle {
  grid-area: subtitle;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  z-index: 2;
  margin-top: 32px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  align-self: start;
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .cover__subtitle {
    font-size: 4.38vw;
    line-height: 5.00vw;
    width: 90.00vw;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) and ( max-width: 1023px) {
  .cover__subtitle {
    font-size: 2.34vw;
    line-height: 2.86vw;
    width: 46.88vw;
  }
}

@media screen and ( min-width: 1024px) and (max-width: 1279px) {
  .cover__subtitle {
    font-size: 1.76vw;
    line-height: 2.15vw;
    width: 35.16vw;
  }
}

@media screen and (min-width: 1280px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    width: 360px;
  }
} 