.lead__title {
  font-family: Inter;
  letter-spacing: 0em;
  font-style: normal;
  font-weight: 900;
  margin: 0;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 320px) {
  .lead__title {
    font-size: 12.50vw;
    line-height: 13.75vw;
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 12.50vw;
    line-height: 13.02vw;
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    font-size: 9.38vw;
    line-height: 9.77vw;
    margin-right: 152px;
    margin-left: 152px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    margin-right: 280px;
    margin-left: 280px;    
  }
} 