.intro {
  /* background: violet; */
  color: white;
  height: 429px;
  width: 690px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 148px;
  margin-right: 442px;
  /* left: 148px;
  top: 1233px;
  border-radius: nullpx; */

}