.website__url-heading {
  color: #AAAAAA;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase;
  /* font-size: 12px;
  line-height: 12px; */

  font-size: 12px;
line-height: 170%;
/* or 20px */

letter-spacing: 2px;
}