.lead__subtitle {
  letter-spacing: 0em;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin-top: 32px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto; 
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__subtitle {
    font-size: 5vw;
    line-height: 6.25vw;
    width: 90vw;
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) and ( max-width: 1023px)  {
  .lead__subtitle {
    font-size: 3.91vw;
    line-height: 4.69vw;
    width: 83.33vw;
  }
}

@media screen and ( min-width: 1024px) and (max-width: 1280px) {
  .lead__subtitle {
    font-size: 2.93vw;
    line-height: 3.52vw;
    width: 62.50vw;
  }
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    width: 640px;
  }
} 