.cover {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  margin: 0 auto;
  grid-template-areas:
  "title"
  "subtitle";
}

@media screen and (min-width: 320px) {
  .cover {
    margin-top: 66px;
    gap: 16px;
  }
}

@media screen and (min-width: 768px) {
  .cover {
    margin-top: 90px;
    gap: 32px;
  }
}

@media screen and ( min-width: 1024px) {
  .cover {
    margin-top: 92px;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    margin-top: 92px;
    margin-left: 48px;
    margin-right: 48px;
    gap: 32px;
  }
} 