.cover {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  grid-template-areas:
  "content";
  margin-top: 92px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  background-image: url(../../images/background.jpg);
  background-size: cover;
  z-index: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover {
    min-height: 200px;
    margin-top: 66px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    min-height: 480px;
    margin-top: 90px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    margin-left: 48px;
    margin-right: 48px;
    min-height: 740px;
  }
} 