.cover__title {
  grid-area: title;
  align-self: flex-end;
  font-family: Inter;
  color: white;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0em;
  text-align: center;
  z-index: 1;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .cover__title {
    font-size: 10.0vw;
    line-height: 10.94vw;
    width: 79.5vw;
  }
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 9.38vw;
    line-height: 9.90vw;
    width: 72.92vw;
  }
}

@media screen and ( min-width: 1024px) {
  .cover__title {
    font-size: 7.03vw;
    line-height: 7.42vw;
    width: 54.69vw;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    width: 560px;
  }
} 