.place {
  color: white;
  display: grid;
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 320px) {
  .place {
    gap: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 46px 1fr max-content;
    grid-template-areas:
      "title"
      "website"
      "image"
      "text";
  }
} 

@media screen and (min-width: 768px) {
  .place {
    margin-bottom: 72px;
    margin-left: 24px;
    margin-right: 24px;
    gap: 28px 48px;
    grid-template-columns: minmax(41.67vw, 44.27vw) 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
      "title website"
      "image text";
  }
}

@media screen and ( min-width: 1024px) {
  .place {
    margin-left: 48px;
    margin-right: 48px;
    gap: 32px 48px;
    grid-template-columns: minmax(33.20vw, 42.97vw) 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
      "title website"
      "image text";
  }
}

@media screen and (min-width: 1280px) {
  .place {
    margin-left: 148px;
    margin-right: 148px;
    margin-bottom: 80px;
    gap: 48px 40px;
    grid-template-columns: minmax(440px, 460px) 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
      "title website"
      "image text";
  }
} 