@media screen and (min-width: 320px) {
  .place {
    color: white;
    margin: 0;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(35px,70px) 46px 320px 1fr;
    grid-template-areas:
      "title"
      "website"
      "image"
      "text";
  }
} 
@media screen and (min-width: 768px) {
  .place {
    color: white;
    margin-top: 72px;
    margin-bottom: 0;
    margin-left: 24px;
    margin-right: 24px;
    display: grid;
    gap: 28px 48px;
    grid-template-columns: 340px 1fr;
    grid-template-rows: minmax(56px,152px) 1fr;
    grid-template-areas:
      "title website"
      "image text";
  }
} 
@media screen and ( min-width: 1024px) {
  .place {
    color: white;
    margin-top: 80px;
    margin-bottom: 0;
    margin-left: 48px;
    margin-right: 48px;
    display: grid;
    gap: 32px 48px;
    grid-template-columns: 440px 1fr;
    grid-template-rows: minmax(56px,152px) 1fr;
    grid-template-areas:
      "title website"
      "image text";
  }
} 
@media screen and (min-width: 1280px) {
  .place {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 148px;
    margin-right: 148px;
    display: grid;
    gap: 40px 48px;
    grid-template-columns: 460px 1fr;
    grid-template-rows: minmax(56px,152px) 1fr;
    grid-template-areas:
      "title website"
      "image text";
  }
} 