.intro__title {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: auto;
  margin-bottom: 0;
}

@media screen and (min-width: 320px) {
  .intro__title {
    font-size: 10vw;
    line-height: 10.94vw;
    margin-top: 64px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .intro__title {
    font-size: 7.03vw;
    line-height: 7.55vw;
    margin-top: 88px;
    margin-left: 24px;
  }
}

@media screen and ( min-width: 1024px) {
  .intro__title {
    font-size: 5.27vw;
    line-height: 5.66vw;
    margin-top: 92px;
    margin-left: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
    margin-top: 92px;
    margin-left: 148px;
  }
} 